.women-banner {
  width: 100vw;      
  min-height: 200px;  
  max-height: 300px;  
  object-fit: cover;  
  display: block;
  margin-bottom: 20px;
}


.container-women {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.carrito {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 15px;
}

.cantidad {
  display: flex;
  align-items: center;
  gap: 48px;
}

.cantidad button {
  padding: 5px 12px;
  font-size: 18px;
  cursor: pointer;
}

.btn-agregar {
  background-color: #FF7E1B;
  color: #1d2026;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: #FFAB6A;
}

@media (max-width: 900px) {
  .container-women {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container-women {
    grid-template-columns: 1fr;
  }
}
