body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #ffffff;
  padding-top: 80px;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: white; 
  border-bottom: 1px solid #e4e4e4; 
}

.navbar-container {
  display: flex;
 grid-template-columns: min-content 1fr min-content;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  max-width: 1440px;
  margin: 0 auto;
  width: auto;
  padding: 20px 0;
  background: transparent; 
  border: none ;
  border-radius: 0;
  box-shadow: none;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  grid-column: 1;
}

.logo a {
  font-weight: 700;
  font-size: 26px;
  color: #1d2026;
  text-decoration: none;
  display: block;
}

.nav-links {
  grid-column: 2;
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #69707D;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff7e1b;
}

.nav-icons {
  grid-column: 3;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-self: end;
  margin-left: -15px;

}
.boton-carrito {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;

}
.icon-carrito{
  position: relative;
  display: inline-block;
}
.carrito-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff6600;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
}

.carrito-desplegable {
  position: absolute;
  top: 60px; 
  right: 20px;
  width: 360px;
  max-height: 400px;
  background-color: white;
  border: 1px solid #c3cad9;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  padding: 15px;
  overflow-y: auto;
  z-index: 1000;
  color: #1d2026;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}
.btn-ver-carrito {
  width: 100%;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
.item-imagen {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.item-detalles {
  display: flex;
  flex-direction: column;
}

.item-nombre {
  font-weight: 600;
}

.item-precio {
  font-size: 13px;
  color: #69707d;
}
.btn-ver-carrito:hover {
  background-color: #ff7e1b;
}
.carrito-vacio {
  text-align: center;
  color: #69707D;
  font-size: 14px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  color: #1d2026;
}
.close-menu {
  display: none;
}


/* Responsive */
@media (max-width: 1024px) {
  .navbar {
    grid-template-columns: auto 1fr auto;
    padding: 15px 20px;
  }

  .menu-toggle {
    display: block;
    grid-column: 1;
  }

  .logo {
    grid-column: 2;
    justify-self: center;
    text-align: center;
  }

  .nav-icons {
    grid-column: 3;
    justify-self: center ;
    
  }

  .nav-links {
    position: fixed;
    top: 0px;
    left: -100%;
    width: min(80vw, 320px);
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
    padding: 80px 20px;
    gap: 20px;
    transition: left 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1200;
  }

  .nav-links.active {
    left: 0;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 1100;
  }

  .nav-links li {
    margin: 6px 0;
  }
   .close-menu {
    display: block;   
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 30px;
    color: #1d2026;
  }
}